* {
  box-sizing: border-box;
}

.text h1{
  font-size: 4.5rem;
    font-weight: 400;
    color: black;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 40px;
}


.text span {
  color: green;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  height: 80vh;
}

.mySlides{
  width: 100%;
  height: 80%;
}

.mySlides img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  width: 100%;
  height : auto;
  margin-bottom: 50px;
}

/* Six columns side by side */
.column {
  float: left;
  width: 12%;
  height: 65px;
  margin: auto;
  

}

.column img{
  width: 100%;
  height:100%;
  object-fit: fill;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.8;
}

.active,
.demo:hover {
  opacity: 1;
}









/* Main content of Projects */
#main_content {
  margin: auto;
  margin-top: 200px;
  
}


.card_container {
  width: 83%;
  border-radius: 10px;
  background-color: #e0f3ed;
  border: 2px solid #222;
  margin: auto;
  
}

.card_container .card {
  width: 41%;
  height: 50vh;
  
  overflow: hidden;
  border-radius: 5px;
}


.card_container .card img {
  width : 100%;
  height: 100%;
  object-fit: fill;
}


/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .card:hover .overlay {
  opacity: 4;
  }




  .popup_container{
    width: 80%;
    height: auto;
    min-height: 800px;
    
    margin: 50px auto;
    border-radius: 20px;
    padding: 80px 40px 40px 50px;
    
    transition: 5sec ease-in;
  }

  .popup_container .video {
    margin-top: 20px;
  }
  #AR {
    background-color: aqua;
  }

  #Marjanator {
    background-color: rgb(51, 181, 214);
  }

  #Exo {
    background-color: bisque;
  }

  #Torminator {
    background-color: rgb(243, 184, 145);
  }

  #TalkingBot {
    background-color: rgb(137, 151, 211);
  }
  #TalkingBot video {
    width: 100%;
    height: auto;
  }

  #WallPlotter {
    background-color: rgb(245, 119, 119);
  }

  #FIDO {
    background-color: rgb(246, 247, 162);
  }


  #PipeBot {
    background-color: rgb(220, 163, 238);
  }